*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    /* padding: 100px 0; */
    /* max-width: 1200px; */
    width: 100%;
    margin: 0 auto;
}

/**************
    NAVBAR
**************/

.header{
    min-height: 45vh;
    background-color: #1f2937;
    max-width: 1000px;
    margin: 0 auto;
}
.wrapper{
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}
.hero{
    height: 60%;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
}
.hero__left{
    width: 50%;
}
.hero__left h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.hero__left p{
    font-size: 18px;
    color: #e5e7eb;
    padding: 10px;
    margin-bottom: 10px;
}
.hero__left a{
    background-color: #3882f6;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    transition: all 0.25s ease-in-out;
}
.hero__left a:hover{
    color: #3882f6;
    background-color: #fff;
}
.hero__right{
    height: 150px;
    width: 50%;
}
.hero__right img{
    width: auto;
    height: 100%;
    object-fit: cover;
}
nav ul{
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

.logo{
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #f9faf8;
    letter-spacing: 8px;
    font-family: 'Gill Sans', sans-serif
}
.logo span{
    color: blue;
}
nav ul{
    list-style: none;
    font-size: 20px;
}
nav li{
    text-transform: uppercase;
}
nav a{
    color: #fff;
    text-decoration: none;
}

/*************
    HOME
*************/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}
.random{
    padding-top: 20px;
}
.random h1{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding: 20px 0;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
figure img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid #3882f6;
}
figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
figure figcaption{
    text-align: center;
    width: 55%;
    padding: 10px 0;
}

.quote{
    margin-top: 100px;
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.quote > div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.quote blockquote{
    width: 70%;
    padding: 50px 30px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.quote p{
    align-self: flex-end;
    font-weight: bolder;
    padding-right: 50px;
    padding-bottom: 10px;
}

.cta{
    width: 70%;
    margin: 50px auto;
    background-color: #3882f6;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cta h1{
    color: #fff;
    font-size: 20px;
}
.cta p{
    color: #e5e7eb;
}
.cta a{
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.25s ease-in-out;
}
.cta a:hover{
    background-color: #fff;
    color: #3882f6;
}

.copy{
    width: 100%;
    margin: 0 auto;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 20px;
}
.copy p{
    padding: 20px 0;
}

/********************
    MEDIA QUERIES
********************/
@media (min-width: 767px){
    nav ul{
        display: flex;
    }  

}
